.footer {
  margin: 15px auto;
  font-size: 12px;
  text-align: center;
}

.head {
	font-size: 17px;
	margin-bottom: 20px;
}

a, a:visited, a:hover, a:active {
  color: blue;
}

.paragraph {
	margin-top: 20px;
}

.avatar {
	width: 100px;
	height: 100px;
	object-fit: cover;
	/*border-radius: 50px;*/
	/*float: right;*/
}

body {
	max-width: 800px;
	margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    font-size: 17px;
}

.main {
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
}