.footer {
  margin: 15px auto;
  font-size: 12px;
  text-align: center;
}

.head {
	text-align: center;
	font-size: 17px;
}

.paragraph {
	margin-top: 20px;
}

.avatar {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50px;
	float: right;
}

body {
	max-width: 800px;
	margin: 0 auto;
}